cmake_minimum_required(VERSION 3.18)
project(qoco_custom)

if(DISABLE_PRINTING)
   add_compile_definitions(DISABLE_PRINTING)
endif()

if(QOCO_CUSTOM_BUILD_TYPE STREQUAL Debug)
   set(QOCO_CUSTOM_BUILD_TYPE Debug)
   set(CMAKE_C_FLAGS "-g -Wall")
   if(${CMAKE_SYSTEM_NAME} STREQUAL "Linux" OR ${CMAKE_SYSTEM_NAME} STREQUAL "Darwin")
       set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -fsanitize=address,undefined")
   endif()
else()
   set(QOCO_CUSTOM_BUILD_TYPE Release)
   set(CMAKE_C_FLAGS "-O3 -Wall -march=native")
endif()

# Detect OS.
message(STATUS "We are on a ${CMAKE_SYSTEM_NAME} system")
if(${CMAKE_SYSTEM_NAME} STREQUAL "Linux" OR ${CMAKE_SYSTEM_NAME} STREQUAL "Darwin")
   set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -Wextra")
else()
   add_compile_definitions(IS_WINDOWS)
   if(QOCO_CUSTOM_BUILD_TYPE STREQUAL Release)
       set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} /Ox")
   endif()
endif()
message(STATUS "Build Type: " ${QOCO_CUSTOM_BUILD_TYPE})
message(STATUS "Build Flags: " ${CMAKE_C_FLAGS})

set(qoco_custom_sources "${CMAKE_CURRENT_SOURCE_DIR}/qoco_custom.c"
	"${CMAKE_CURRENT_SOURCE_DIR}/cone.c"
	"${CMAKE_CURRENT_SOURCE_DIR}/utils.c"
	"${CMAKE_CURRENT_SOURCE_DIR}/ldl.c"
	"${CMAKE_CURRENT_SOURCE_DIR}/kkt.c")

set(qoco_custom_headers "${CMAKE_CURRENT_SOURCE_DIR}/qoco_custom.h"
	"${CMAKE_CURRENT_SOURCE_DIR}/cone.h"
	"${CMAKE_CURRENT_SOURCE_DIR}/utils.h"
	"${CMAKE_CURRENT_SOURCE_DIR}/ldl.h"
	"${CMAKE_CURRENT_SOURCE_DIR}/kkt.h")

# Build qoco_custom shared and static library.
add_library(qoco_custom SHARED)
target_sources(qoco_custom PRIVATE ${qoco_custom_sources} ${qoco_custom_headers})
if(${CMAKE_SYSTEM_NAME} STREQUAL "Linux" OR ${CMAKE_SYSTEM_NAME} STREQUAL "Darwin")
   target_link_libraries(qoco_custom m)
endif()

# Build qoco demo.
add_executable(runtest runtest.c)
if(${CMAKE_SYSTEM_NAME} STREQUAL "Linux" OR ${CMAKE_SYSTEM_NAME} STREQUAL "Darwin")
   target_link_libraries(runtest qoco_custom)
else()
   add_library(qoco_custom_static STATIC)
   target_sources(qoco_custom_static PRIVATE ${qoco_custom_sources} ${qoco_custom_headers})
   target_link_libraries(runtest qoco_custom_static)
endif()

