{% include '_license.j2' %}
#ifndef QOCO_CUSTOM_H
#define QOCO_CUSTOM_H

#include "cone.h"
#include "kkt.h"
#include "ldl.h"
#include "utils.h"
#include "workspace.h"

void qoco_custom_solve(Workspace* work);
#endif